/* navigation bar    */

:root {
  --primary-white: white;
}
body {
}

/* .......menu links.....  */

.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  /* max-width: 5rem; */
  /* padding: 0; */
}
